/* Bigg tablets to 1200px (widths smaller than 1140px row) */

@media only screen and (max-width: 1200px)    {
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
    }
    .row { padding: 0 2%; }
}


/* Small tablets to big tablets: from to 768px to 1023px */

@media only screen and (max-width: 1023px)    {
    body {font-size:  18px;}
    sectione{ padding: 60px 0;}
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    
    .steps-box {margin-top: 10px;}
    .steps-boxL:last-child {margin-top: 10px;}
    .works-step {margin-bottom: 40px;}
    .works-step:last-of-type {margin-bottom: 60px;}
    
    .app-screen {width: 50%; }
    
    .icon-small {
        width: 15px; 
        margin-right: 5px;
    }
    
    .city-feature {font-size: 85%; }
    
    .plan-box {
        width: 100%;
        margin-left: 0%;
        font-size: 85%;
    }
    
    .contact-form {width: 80%;}
    
}


/* Small phone to small tablets: from to 481px to 767px */

@media only screen and (max-width: 767px)    {
    body {font-size: 16px;}
    section {padding: 30px 0;}
    
    .row,
    .hero-text-box { padding: 0 4%; }
    
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    .main-nav {display: none;}
    
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 25px;
        margin-left: 15px;
    }
    
    .main-nav li {
        display: block;
        margin-left: 20px;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav{margin-top: 2px;}

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        padding: 10px 0;
    }
    .sticky .mobile-nav-icon i {color: #555;}
    .sticky .mobile-nav-icon {margin-top: 10px;}

    .sticky .logo {display: none;}
    .sticky .logo-black {display: block;}
    
    
    h1{font-size: 180%;}
    h2{font-size: 150%;}

    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    .works-step {margin-bottom: 20px;}
    .works-step:last-of-type {margin-bottom: 40px;}
    
    .app-screen {
        width: 40%; 
        margin-bottom: -70px;
        margin-top: -20px;
    }
    .steps-box:first-child {
        text-align: center;
        width: 100%;
    }
    
    .works-step div {
        height: 40px;
        width: 40px;
        padding: 4px;
        margin-right: 15px;
        font-size: 120%;
    }
    
    .btn-app img {
        height: 40px;
        width: auto;
        margin-left: 100px;
    }
    .work-step div p{
        vertical-align: middle;
    }
}


/* Small phone: from 0 to 480px */

@media only screen and (max-width: 480px)    {
    section {padding: 25px 0;}
    .contact-form {width: 100%;}
}



